
language: python

python:
  - "3.8"

install:
   - pip install -r requirements.txt
   - pip install black
   - python -m pip install flake8

script:
  # run black code formatter
  - black .

  # run flake8 linter
  - flake8 .

